@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800|Kanit:300,400&display=swap');

:root {
  /* Paleta de colores */
  --buebito-fulgurante: rgba(0, 210, 222, 1);
  --azul-buebito: rgba(0, 164, 200, 1);
  --rojo-puta: rgba(200, 0, 0, 1);
  --relampago: rgba(250, 220, 0, 1);
  --5-puntos: rgba(250, 180, 0, 1);
  --hematoma: rgba(80,60,200,1);

}

body {
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
    font-size: 18px;
}

.container {
    width: 100%;
    background: linear-gradient(60deg, rgba(80,60,200,1) 0%, var(--buebito-fulgurante) 100%);
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(10deg, rgba(20,30,36,1) 0%, rgba(36,45,52,1) 100%);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    transition: 0.6s;
    box-shadow: 0px 1px 5px 3px rgba(21, 21, 26, 0.2);
}

header .brainstorm {
    width: 25%;
    display: flex;
    margin: 10px;
}

header .brainstorm .logo {
    width: 36px;
    margin: 10px;
}

header .brainstorm .logo img {
    width: 60px;
}

.banner {
    flex-shrink: 0;
    flex-basis: 1;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.block {
    width: 0%;
    height: 40px;
    margin-bottom: 10px;
    -webkit-border-radius: 0%;
    border-radius: 0%;
    background: var(--5-puntos);
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, .06, .4, .92) forwards;
    display: flex;
}

h1 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 32px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}

span {
    width:0px;
    height: 0px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--5-puntos);
    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    margin-left: 15px;
    position: absolute;
    bottom: 3px;
    right: -12px;
}

@keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: var(--relampago);
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: var(--5-puntos);
      opacity: 1;
      bottom: 45px;
    }
     65% {
        width: 7px;
      height: 7px;
        bottom: 0px;
        width: 15px
     }
     80% {
        width: 10px;
      height: 10px;
        bottom: 20px
     }
    100% {
      width: 7px;
      height: 7px;
      background: var(--5-puntos);
      border: 0px solid #222;
      bottom: 13px;
    }
  }
 
/* MENÚ */

header .menu {
    width: 60%;
    max-width: 1000px;
    min-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    align-items: center;
    font-family: 'Kanit';
    font-size: 1em;
    font-weight: 400;
}

header .menu a {
    color: whitesmoke;
    text-decoration: none;
}

header .menu a:hover {
    text-decoration-line: overline;
    text-decoration-color: var(--5-puntos);
}

/* MAIN */

.main  {
    width: 80%;
    height: 400px;
}

/* CONTENT */

.content {
    width: 80%;
    height: 600px;
}

/* WAVES */

.waves {
    position:relative;
    width:100%;
    height:10vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

/* FOOTER */

footer {   
    position:relative;
    width:100%;
    height: 50px;
    text-align:center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: whitesmoke;
    font-size: 0.6em;
    font-weight: 300;
}

/* COOKIES */
.aviso-cookies {
  display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 10px 10px rgba(21, 21, 21, 0.21);
	text-align: center;
}


.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .cookie {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: var(--azul-buebito);
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: var(--buebito-fulgurante);
}

.aviso-cookies .enlace {
	color: var(--azul-buebito);
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
  }